$primary: rgba(255, 255, 224, 0.957);

$fontSize: clamp(.7rem, 2.5vw + 1rem, 1.2rem);
$h1Size: clamp(.7rem, 3vw + 1rem, 3rem);
$keyboardFontSize: clamp(.4rem, 2.5vw + .1rem, 1.5rem);
$lrgFontSize: clamp(2rem, 5vw + 1rem, 4.5rem);

$green: rgb(13, 193, 13);
$yellow: rgb(227, 227, 15);
$grey: rgb(101, 100, 100);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}
p {
    font-size: $fontSize;
}

body {
    width: 100%;
    height: 100%;
    max-width: 1500px;
    box-sizing: border-box;
    background-color: #8BC6EC;
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
    margin: .5em;
    color: transparent;
    text-shadow: -1px 0 #1f43e0, 0 1px #7087eb, 1px 0 #526de5, 0 -1px #526de5;
    padding: .5em;
    border: 1px solid #1f43e0;
    border-left: 5em solid transparent;
    border-right: 5em solid transparent;
    border-top: 0 solid transparent;
}
h1 {
    font-size: $h1Size;
}

/* ------------ Components ------------*/
/* ------ Row ------*/
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        border: 2px solid grey;
        height: 1.2em;
        width: 1.2em;
        margin: .1em;
        background: whitesmoke;
        color: black;
        font-size: $lrgFontSize;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        border-radius: 10px;
        &.green {
            --background: rgb(13, 193, 13);
            --border-color: rgb(17, 168, 17);
            --color: whitesmoke;
            animation: flip .5s ease forwards;
        }
        &.yellow {
            --background: rgb(227, 227, 15);
            --border-color: rgba(240, 240, 20, 0.579);
            --color: whitesmoke;
            animation: flip .5s ease forwards;

        }
        &.grey {
            --background: rgb(101, 100, 100);
            --border-color: grey;
            --color: whitesmoke;
            animation: flip .5s ease forwards;
        }

        &:nth-child(2) {
            animation-delay: .2s;
        }
        &:nth-child(3) {
            animation-delay: .4s;
        }
        &:nth-child(4) {
            animation-delay: .6s;
        }
        &:nth-child(5) {
            animation-delay: .8s;
        }
    }
    &.current > .entered {
        animation: bounce .2s ease-in-out forwards;
    }
}

/* ------ Keyboard ------*/
.keyboard {
    width: 100%;
    max-width: fit-content;
    margin: 1em auto;
    padding: .3em .7em;
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    border-radius: 10px;
    box-shadow: 4px 4px 8px #474343, -4px -4px 8px #fff;
    .row {
        margin: .4em 0 0 0;
        button {
            font-size: $keyboardFontSize;
            margin: .2em;
            padding: .7em 1em;
            border: none;
            background: #fff;
            box-shadow: 4px 4px 8px #474343, -4px -4px 8px #fff;
            outline: none;
            border-radius: 5px;
            &.green {
                background: $green;
                color: white;
                transition: all .3s ease-in;
            }
            &.yellow {
                background: $yellow;
                color: white;
                transition: all .3s ease-in;
            }
            &.grey {
                background: $grey;
                color: white;
                transition: all .3s ease-in;
            }
            &.enter {
                width: 10em;
                background: #474343;
                color: white;
                font-weight: bold;
                letter-spacing: 1px;
                box-shadow: 4px 4px 8px #474343, -4px -4px 8px #fff;
                border: 1px solid grey;
            }
            &.enter:active {
                box-shadow: 1px 1px 2px #fff8f8, -1px -1px 2px #474343;
            }
        }
    }
    button:active {
        box-shadow: 1px 1px 2px #fff8f8, -1px -1px 2px #474343;
    }
}

/* ----- Modal ------*/
.modal {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    line-height: 1.5;
    div {
        margin: 30% auto;
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        
        width: 50%;
        min-width: fit-content;
        padding: 1em;
        border-radius: 10px;
        box-shadow: 4px 4px 8px rgba(0,0,0,.5);
        span {
            font-weight: bold;
            color: #ff004c;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        button {
            padding: .5em;
            margin: .5em;
            font-weight: bold;
            font-size: $fontSize;
            border-radius: 10px;
            box-shadow: 4px 4px 8px rgba(0,0,0,.5);
            background: #1f43e0;
            color: #fff;
            border: 1px solid #444cf7;
        }
        button:hover {
            box-shadow: 1px 1px 2px #fff8f8, -1px -1px 2px #474343;
        }
    }
}

/* ------------ Animations ------------*/

@keyframes flip {
    0% {
        transform: rotateX(0deg);
        background: whitesmoke;
        border-color: grey;
        color: whitesmoke;
    }
    40% {
        transform: rotateX(90deg);
        background: whitesmoke;
        border-color: grey;
        color: whitesmoke;
    }
    60% {
        transform: rotateX(90deg);
        background: var(--background);
        border-color: var(--border-color);
        color: var(--color);
    }
    100% {
        transform: rotateX(0deg);
        background: var(--background);
        border-color: var(--border-color);
        color: var(--color);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
        border-color: rgb(83, 79, 79);
    }
}