* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

p {
  font-size: clamp(0.7rem, 2.5vw + 1rem, 1.2rem);
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
  margin: 0.1em auto;
  color: transparent;
  text-shadow: -1px 0 #1f43e0, 0 1px #7087eb, 1px 0 #526de5, 0 -1px #526de5;
  padding: 0.5em;
  border: 1px solid #1f43e0;
  border-left: 5em solid transparent;
  border-right: 5em solid transparent;
  border-top: 0 solid transparent;
  text-align: center;
  max-width: 1200px;
}

h1 {
  font-size: clamp(0.7rem, 3vw + 1rem, 3rem);
}

/* ------------ Components ------------*/
.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  height: 100%;
  width: 100%;
}

/* ------ Wordle ------*/
.light {
  background: #457fca; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100svh;
  width: 100%;
}
.light .keyboard button {
  box-shadow: 4px 4px 8px #474343, -4px -4px 8px #fff;
}
.light .keyboard button:active {
  box-shadow: 1px 1px 2px #fff8f8, -1px -1px 2px #474343;
}
.light .modal div {
  background: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.dark {
  max-width: 1500px;
  background: black;
  height: 100svh;
  width: 100%;
}
.dark .keyboard {
  background: black;
  box-shadow: 4px 4px 8px #474343, -4px -4px 8px #858383;
}
.dark .keyboard button {
  color: #fff;
  background: black;
  box-shadow: 4px 4px 8px #474343, -4px -4px 8px #fff;
}
.dark .keyboard button:active {
  box-shadow: 1px 1px 2px #fff, -1px -1px 2px #474343;
}
.dark .modal {
  background: rgba(255, 255, 255, 0.3);
}
.dark .modal div {
  background-color: black;
  color: white;
}

.btnGroup {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  font-size: clamp(0.7rem, 2.5vw + 1rem, 1.2rem);
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
.btnGroup p {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}
.btnGroup .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.btnGroup .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btnGroup .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.btnGroup .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.btnGroup input:checked + .slider {
  background-color: #2196F3;
}
.btnGroup input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.btnGroup input:checked + .slider:before {
  transform: translateX(26px);
}
.btnGroup .slider.round {
  border-radius: 34px;
}
.btnGroup .slider.round:before {
  border-radius: 50%;
}

/* ------ Row ------*/
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row div {
  border: 2px solid grey;
  height: 1.2em;
  width: 1.2em;
  margin: 0.1em;
  background: whitesmoke;
  color: black;
  font-size: clamp(2rem, 5vw + 1rem, 4.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border-radius: 10px;
}
.row div.green {
  --background: rgb(13, 193, 13);
  --border-color: rgb(17, 168, 17);
  --color: whitesmoke;
  animation: flip 0.5s ease forwards;
}
.row div.yellow {
  --background: rgb(227, 227, 15);
  --border-color: rgba(240, 240, 20, 0.579);
  --color: whitesmoke;
  animation: flip 0.5s ease forwards;
}
.row div.grey {
  --background: rgb(101, 100, 100);
  --border-color: grey;
  --color: whitesmoke;
  animation: flip 0.5s ease forwards;
}
.row div:nth-child(2) {
  animation-delay: 0.2s;
}
.row div:nth-child(3) {
  animation-delay: 0.4s;
}
.row div:nth-child(4) {
  animation-delay: 0.6s;
}
.row div:nth-child(5) {
  animation-delay: 0.8s;
}
.row.current > .entered {
  animation: bounce 0.2s ease-in-out forwards;
}

/* ------ Keyboard ------*/
.keyboard {
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 1em auto;
  padding: 0.3em 0.7em;
  border-radius: 10px;
  box-shadow: 4px 4px 8px #474343, -4px -4px 8px #fff;
}
.keyboard .row {
  margin: 0.4em 0 0 0;
}
.keyboard .row button {
  font-size: clamp(0.4rem, 2.5vw + 0.1rem, 1.5rem);
  margin: 0.2em;
  padding: 0.7em 1em;
  border: none;
  outline: none;
  border-radius: 5px;
}
.keyboard .row button.green {
  background: rgb(13, 193, 13);
  color: white;
  transition: all 0.3s ease-in;
}
.keyboard .row button.yellow {
  background: rgb(227, 227, 15);
  color: white;
  transition: all 0.3s ease-in;
}
.keyboard .row button.grey {
  background: rgb(101, 100, 100);
  color: white;
  transition: all 0.3s ease-in;
}
.keyboard .row button.submit {
  width: 10em;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 4px 4px 8px #474343, -4px -4px 8px #fff;
  border: 1px solid grey;
}
.keyboard .row button.submit:active {
  box-shadow: 1px 1px 2px #fff8f8, -1px -1px 2px #474343;
}
.keyboard button:active {
  box-shadow: 1px 1px 2px #fff8f8, -1px -1px 2px #474343;
}

/* ----- Modal ------*/
.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  line-height: 1.5;
  text-align: center;
}
.modal div {
  margin: 30% auto;
  width: 50%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.modal div span {
  font-weight: bold;
  color: #ff004c;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.modal div button {
  padding: 0.5em;
  margin: 0.5em;
  font-weight: bold;
  font-size: clamp(0.7rem, 2.5vw + 1rem, 1.2rem);
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  background: #1f43e0;
  color: #fff;
  border: 1px solid #444cf7;
}

/* ------------ Animations ------------*/
@keyframes flip {
  0% {
    transform: rotateX(0deg);
    background: whitesmoke;
    border-color: grey;
    color: whitesmoke;
  }
  40% {
    transform: rotateX(90deg);
    background: whitesmoke;
    border-color: grey;
    color: whitesmoke;
  }
  60% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
    color: var(--color);
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: var(--color);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    border-color: rgb(83, 79, 79);
  }
}/*# sourceMappingURL=index.css.map */